.forgotpass{
    border:1px solid rgb(0, 0, 0);
    width:500px;
    height:200px;
    margin-top: 100px;
    padding:25px 25px 25px 25px;
    border-radius: 10px;
    /* background-color: rgb(255, 255, 255) */
}
/* body{
    background-image: url("../../assets/images/LawBgPic.png");
} */